src/templates/data-scraping-storage.json
{
  "name": "Data Scraping and Storage",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [100, 300],
      "id": "start-node"
    },
    {
      "parameters": {
        "url": "{{API_URL}}",
        "method": "GET",
        "options": {}
      },
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [400, 300],
      "id": "http-request-node"
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "processedData",
              "value": "={{JSON.stringify($json)}}",
              "type": "string"
            }
          ]
        }
      },
      "name": "Process Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [700, 300],
      "id": "process-data-node"
    },
    {
      "parameters": {
        "fileFormat": "json",
        "fileName": "output.json",
        "options": {}
      },
      "name": "Write to File",
      "type": "n8n-nodes-base.writeToFile",
      "typeVersion": 1,
      "position": [1000, 300],
      "id": "write-to-file-node"
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Process Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Data": {
      "main": [
        [
          {
            "node": "Write to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-01-01T00:00:00.000Z",
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["scraping", "storage"],
  "triggerCount": 0,
  "versionId": "1"
} 