workflows/hubspot-mixpanel-integration.json
{
    "name": "HubSpot to Mixpanel Engagement Sync",
    "nodes": [
      {
        "parameters": {},
        "id": "4518eb56-5ff9-4f05-9881-3e9f679d203c",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.cron",
        "typeVersion": 1,
        "position": [
          -1000,
          60
        ]
      },
      {
        "parameters": {
          "jsCode": "return {\n  json: {\n    daysToSync: 30,\n    batchSize: 100,\n    mixpanelEventName: 'Page View',\n    fromDate: $now.minus({ days: 30 }).toFormat('yyyy-MM-dd'),\n    toDate: $now.toFormat('yyyy-MM-dd')\n  }\n};"
        },
        "id": "config-node",
        "name": "Workflow Config",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [
          -800,
          60
        ]
      },
      {
        "parameters": {
          "authentication": "appToken",
          "resource": "contact",
          "operation": "getAll",
          "additionalFields": {
            "properties": [
              "email",
              "firstname",
              "lastname",
              "mixpanel_customer_id"
            ]
          }
        },
        "id": "0b954367-0d56-4661-b241-606719f08a46",
        "name": "HubSpot: Fetch Contacts",
        "type": "n8n-nodes-base.hubspot",
        "typeVersion": 1,
        "position": [
          -780,
          60
        ],
        "credentials": {
          "hubspotAppToken": {
            "id": "={{$credentials.HubSpot_App}}",
            "name": "HubSpot App"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.properties.mixpanel_customer_id }}",
                "operation": "isNotEmpty"
              }
            ]
          }
        },
        "id": "71d26057-f079-43fa-811e-7113823eef30",
        "name": "Filter: Valid Customer IDs",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          -360,
          60
        ]
      },
      {
        "parameters": {
          "batchSize": "={{$node[\"Workflow Config\"].json.batchSize}}",
          "options": {
            "runOnce": true
          }
        },
        "id": "067b1059-7d56-41d0-8713-e97780e0f032",
        "name": "Split In Batches",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 1,
        "position": [
          460,
          -40
        ]
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nconst customerIds = items.map(item => item.json.customer_id).filter(id => id);\nreturn [{ json: { customer_ids: customerIds } }];"
        },
        "id": "Aggregate Contact IDs",
        "name": "Aggregate Contact IDs",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [
          660,
          -40
        ]
      },
      {
        "parameters": {
          "method": "GET",
          "url": "https://mixpanel.com/api/2.0/events",
          "authentication": "httpBasicAuth",
          "sendQuery": true,
          "queryParameters": [
            {
              "name": "distinct_id",
              "value": "={{ $json.customer_ids }}"
            },
            {
              "name": "from_date",
              "value": "={{ $node[\"Workflow Config\"].json.fromDate }}"
            },
            {
              "name": "to_date",
              "value": "={{ $node[\"Workflow Config\"].json.toDate }}"
            },
            {
              "name": "event",
              "value": "page view"
            }
          ],
          "options": {}
        },
        "id": "Mixpanel: Fetch Page Views",
        "name": "Mixpanel: Fetch Page Views",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          860,
          -40
        ],
        "credentials": {
          "httpBasicAuth": {
            "id": "Mixpanel_Credentials",
            "name": "Mixpanel Credentials"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nconst pageViewData = items.reduce((acc, item) => {\n  const id = item.json.properties.distinct_id;\n  if (!acc[id]) {\n    acc[id] = { page_views: 0 };\n  }\n  acc[id].page_views += 1;\n  return acc;\n}, {});\nreturn [{ json: pageViewData }];"
        },
        "id": "Process: Page View Data",
        "name": "Process: Page View Data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [
          1060,
          -40
        ]
      },
      {
        "parameters": {
          "resource": "contact",
          "operation": "updateBatch",
          "options": {
            "properties": [
              {
                "property": "mixpanel_page_views",
                "value": "={{ $json.page_views }}"
              }
            ]
          }
        },
        "id": "Update HubSpot Contacts",
        "name": "Update HubSpot Contacts",
        "type": "n8n-nodes-base.hubspot",
        "typeVersion": 4,
        "position": [
          1260,
          -40
        ]
      },
      {
        "parameters": {
          "jsCode": "// Log successful updates and generate summary\nconst updates = $input.all();\nconst summary = {\n  total_contacts_processed: updates.length,\n  successful_updates: updates.filter(item => !item.json.error).length,\n  failed_updates: updates.filter(item => item.json.error).length,\n  total_page_views: updates.reduce((sum, item) => sum + (item.json.page_views_30d || 0), 0),\n  execution_time: new Date().toISOString()\n};\n\nconsole.log('🎉 HubSpot → Mixpanel Integration Summary:', JSON.stringify(summary, null, 2));\n\n// Log any errors\nupdates.filter(item => item.json.error).forEach(item => {\n  console.error(`❌ Failed to update contact ${item.json.customer_id}:`, item.json.error);\n});\n\nreturn [{ json: summary }];"
        },
        "id": "06b262b7-bbdd-4a9a-8434-9643b12b94b3",
        "name": "Log: Execution Summary",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [
          1800,
          -220
        ]
      },
      {
        "parameters": {
          "jsCode": "const error = $input.first();\nlet summary = 'An unknown error occurred.';\n\ntry {\n  // Call the local AI service to get a dynamic summary\n  const aiResponse = await $http.request({\n    method: 'POST',\n    url: 'http://localhost:5678/api/ai/summarize-error', // Assuming default n8n API port\n    body: error.json,\n    headers: {\n      'Content-Type': 'application/json'\n    },\n    json: true // Automatically parse the response\n  });\n  summary = aiResponse.summary;\n} catch (e) {\n  // Fallback if the AI service is down or fails\n  summary = `AI summarization failed: ${e.message}. Raw error: ${JSON.stringify(error.error || error.json)}`;\n}\n\n// More readable console output\nconsole.error(`\n🚨 WORKFLOW ERROR SUMMARY (AI-Powered) 🚨\\n--------------------------------------------------\\n${summary}\\n--------------------------------------------------\\n`);\n\n// Return a structured error object for further processing if needed\nreturn [{ \n  json: {\n    ai_summary: summary,\n    original_error: error.json,\n    workflow_id: '{{$workflow.id}}',\n    execution_id: '{{$execution.id}}',\n    timestamp: new Date().toISOString()\n  } \n}];"
        },
        "id": "c25d6eed-b2ab-4409-9afe-5a5db843cb84",
        "name": "Error Handler",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [
          -340,
          160
        ]
      }
    ],
    "pinData": {},
    "connections": {
      "Schedule Trigger": {
        "main": [[{"node": "Workflow Config", "type": "main", "index": 0}]]
      },
      "Workflow Config": {
        "main": [[{"node": "HubSpot: Fetch Contacts", "type": "main", "index": 0}]]
      },
      "HubSpot: Fetch Contacts": {
        "main": [[{"node": "Filter: Valid Customer IDs", "type": "main", "index": 0}]]
      },
      "Filter: Valid Customer IDs": {
        "main": [
          [{"node": "Split In Batches", "type": "main", "index": 0}],
          [{"node": "Error Handler", "type": "main", "index": 0}]
        ]
      },
      "Split In Batches": {
        "main": [
          [{"node": "Aggregate Contact IDs", "type": "main", "index": 0}]
        ]
      },
      "Aggregate Contact IDs": {
        "main": [[{"node": "Mixpanel: Fetch Page Views", "type": "main", "index": 0}]]
      },
      "Mixpanel: Fetch Page Views": {
        "main": [[{"node": "Process: Page View Data", "type": "main", "index": 0}]]
      },
      "Process: Page View Data": {
        "main": [[{"node": "Update HubSpot Contacts", "type": "main", "index": 0}]]
      },
      "Update HubSpot Contacts": {
        "main": [[{"node": "Log: Execution Summary", "type": "main", "index": 0}]]
      }
    },
    "active": false,
    "settings": {
      "executionOrder": "v1"
    },
    "versionId": "dc37ff4a-d661-4246-92d8-35f31e084061",
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "b0d7e96a419793923052cce83491123b156aedf3b732f558d517d7aca045355d"
    },
    "id": "5fmPxnru4M68rnQq",
    "tags": []
  }